*.[1234567890].in
*.patch
*~
.autom4te.cfg
.dirstamp
.gitmodules
.sc-start*
.version
/COPYING
/ChangeLog
/GNUmakefile
/HACKING
/INSTALL
/Makefile.am
/README-release
/aclocal.m4
/autom4te.cache
/bin/
/build-aux/
!/build-aux/git-log-fix
/config.cache
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/doc/
/lib/zile/version.lua
/lib/zmacs/commands.lua
/lib/zmacs/tests/package.m4
/m4/
/maint.mk
/zile*.tar.gz
/zile*.tar.gz.directive*
/zile*.tar.gz.sig
/zile-*.rockspec
Makefile
Makefile.in
atconfig
testsuite
testsuite.log
