*.patch
*~
.autom4te.cfg
.dirstamp
.gitmodules
.sc-start*
.version
/COPYING
/ChangeLog
/GNUmakefile
/HACKING
/INSTALL
/Makefile.am
/README-release
/aclocal.m4
/autom4te.cache
/config.cache
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/do-release-commit-and-tag
/build-aux/gitlog-to-changelog
/build-aux/install-sh
/build-aux/luarocks-config.lua
/build-aux/missing
/build-aux/mkrockspecs
/build-aux/release.mk
/build-aux/rockspecs.mk
/build-aux/sanity.mk
/build-aux/specl.mk
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/m4/
/maint.mk
/zile*.tar.gz
/zile*.tar.gz.directive*
/zile*.tar.gz.sig
Makefile
Makefile.in
